@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: Montserrat;
}

a {
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 60px 0px;
  align-items: center;
}

.navbar .title {
  font-size: 30px;
  font-weight: bold;
}

.navbar .aboutMe {
  display: flex;
  justify-content: space-between;
  width: 250px;
    img {
    width: 25px;
  }
}

.hamburger {
  display: none;
}

.hamburger .bar {
  background-color: black;
  height: 4px;
  width: 36px;
  border-radius: 30px;
  margin: 3px;
}
.aboutMe a:hover{
  color: orange;
  transition: 0.8s;
  border-bottom: 1px solid black;
}

.project {
  position: relative;
}

/* Flytta till mitten "Details" */
.project .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  opacity: 0;
}

.project .overlay:hover {
  opacity: 1;
  transition: all 0.7s ease;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gridLayout {
  display: grid;
  grid-template-areas:
    'tower tower serious'
    'tower tower old'
    'modern flower flower'
    'landet business business'
    'landet business business'
    'avm avm greenHome'
    'avm avm greenHome';
    gap: 20px;
}

#tower {
  grid-area: tower;
}
#flower {
  grid-area: flower;
}
#old {
  grid-area: old;
}
#modern {
  grid-area: modern;
}
#serious {
  grid-area: serious;
}
#landet {
  grid-area: landet;
}
#business {
  grid-area: business;
}
#avm {
  grid-area: avm;
}
#green {
  grid-area: greenHome;
}

.footer {
  padding: 3.5rem;
  text-align: center;
  font-size: 1.2rem;
}


@media screen and (max-width: 768px){
  .gridLayout {
    grid-template-areas:
      'tower tower'
      'old flower'
      'modern serious'
      'landet landet'
      'business avm'
      'greenHome greenHome';
  }
  .hamburger {
    display: block;
  }
  .navbar {
    padding: 30px;
  }
  .container{
    max-width: 90%;
  }
  .navbar .aboutMe {
    display: none;
  }
  .footer {
    padding: 30px;
  }
}