@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: Montserrat;
}

a {
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 60px 0px;
  align-items: center;
}

.navbar .title {
  font-size: 30px;
  font-weight: bold;
}

.navbar .aboutMe {
  display: flex;
  justify-content: space-between;
  width: 250px;
    img {
    width: 25px;
  }
}

.aboutMe a:hover{
  color: orange;
  transition: 0.8s;
  border-bottom: 1px solid black;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gridLayout {
  display: grid;
  grid-template-areas:
    'tower tower serious'
    'tower tower old'
    'modern flower flower'
    'landet business business'
    'landet business business'
    'avm avm greenHome'
    'avm avm greenHome';
    gap: 20px;
}

#tower {
  grid-area: tower;
}
#flower {
  grid-area: flower;
}
#old {
  grid-area: old;
}
#modern {
  grid-area: modern;
}
#serious {
  grid-area: serious;
}
#landet {
  grid-area: landet;
}
#business {
  grid-area: business;
}
#avm {
  grid-area: avm;
}
#green {
  grid-area: greenHome;
}